:root {
  --utad-blue: #0065EF;
  --light-grey: #9DA3A7;
  --lignt-grey-hover: #868c8f;
  --extra-light-grey: #E5E9EC;
  --extra-light-grey-hover: #cbd2d6;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont, 'Roboto' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-margin {
  margin-right: 9rem !important;
  margin-left: 9rem !important;
}

.col-custom {
  flex: 0 0 auto;
  width: 27% !important;
}

.activity-container-shadow {
  box-shadow: 0px 9px 11px 2px rgba(0, 0, 0, 0.12);
}

.image-cover {
  object-fit: cover;
}

.blue-highlight-text {
  color: var(--utad-blue);
}

.bg-button-blue {
  background-color: var(--utad-blue);
}

.button-style {
  font-weight: 400;
  width: 143px;
  font-size: 18px;
  line-height: 24px;
  padding-top: 3.5px !important;
  padding-bottom: 3.5px !important;
}

.title-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
}

.body-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.card-body-text {
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-title-text {
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
}

.card-date-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

.card-category-style {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: var(--utad-blue);
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  padding-right: 11px !important;
  padding-left: 11px !important;
}

.card-business-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

.col-card-custom {
  flex: 0 0 auto;
  width: 20% !important;
}

.col-card-image-custom {
  flex: 0 0 auto;
  width: 28% !important;
}

.card-image {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.filter-button {
  background-color: var(--extra-light-grey);
  color: var(--light-grey);
  transition: background-color .5s, color .5s;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.filter-button svg {
  color: var(--light-grey);
  transition: color 0.1s;
}

.filter-button:hover {
  background-color: var(--utad-blue);
  color: white;
}

.filter-button:hover svg {
  color: white;
}

.carousel-position {
  margin-top: 2.9rem;
}

.carousel-gradient {
  background: linear-gradient(to top, rgb(0, 101, 239, 0.55) 0%, rgba(255, 255, 255, 0) 55%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.carousel .carousel-item {
  height: 36rem;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
}

.carousel-caption {
  z-index: 2;
}

.carousel-indicators {
  z-index: 3 !important;
}

.carousel .carousel-indicators button {
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.carousel-title-text {
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
}

.carousel-body-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.dropdown-custom-position {
  left: 100% !important;
  right: auto;
  transform: translateX(-100%);
}

.custom-form {
  background-color: white !important;
  border: 2px solid black !important;
}

.custom-form h3 {
  font-weight: 800;
}

.custom-form h3,
label {
  color: var(--utad-blue);
}

.funny-button {
  animation: hue-rotate 3s infinite linear;
}

@keyframes hue-rotate {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}